 @model CadeteriaWeb.ViewModels.CadetesViewModels //NOS LLEGA UN CADETEVIEWMODEL
 

    <h3>Editor de Cadetes</h3>

        <form  method="post" ><!-- MOSTRAMOS LOS DATOS DEL CADETE Y LE PERMITIMOS CAMBIARLO -->
        <h5 class="card-title">Editar Cadete</h5>
            <label class="form-label" asp-for="@Model.Nombre"></label>
            <input class="form-control" asp-for="@Model.Nombre" value="@Model.Nombre" /> 
            <span asp-validation-for="@Model.Nombre" class="text-danger"></span>

            <label class="form-label" asp-for="@Model.Direccion"></label>
            <input class="form-control" asp-for="@Model.Direccion" value="@Model.Direccion"/> 
            <span asp-validation-for="@Model.Direccion" class="text-danger"></span>

            <label class="form-label" asp-for="@Model.Telefono"></label>
            <input class="form-control" asp-for="@Model.Telefono" value="@Model.Telefono" />
            <span asp-validation-for="@Model.Telefono" class="text-danger"></span>

            <button  class="btn btn-primary">Enviar</button>
        </form>


@section Scripts { 
                  <link href="~/css/EditorCadete.css" rel="stylesheet" asp-file-version="true" />
                  <partial name="_ValidationScriptsPartial" /> } 


