 @model CadeteriaWeb.ViewModels.CadetesViewModels //NOS LLEGA UN CADETEVIEWMODEL
 @{CadeteriaWeb.Models.CadeteriaModels.CadeteriaRepositorio CadeteriaRepo = new CadeteriaWeb.Models.CadeteriaModels.CadeteriaRepositorio();}

    <h3>Editor de Cadetes</h3>

<form  method="post"><!-- MOSTRAMOS LOS DATOS DEL CADETE Y LE PERMITIMOS CAMBIARLO -->
    <label class="form-label" asp-for="@Model.Nombre"></label>
    <input class="form-control" asp-for="@Model.Nombre" value="@Model.Nombre" /> <br />
    <span class="form-control" asp-validation-for="@Model.Nombre" ></span>

    <label class="form-label" asp-for="@Model.Direccion"></label>
    <input class="form-control" asp-for="@Model.Direccion" value="@Model.Direccion"/>  <br />
    <span class="form-control" asp-validation-for="@Model.Direccion" ></span>

    <label class="form-label" asp-for="@Model.Telefono"></label>
    <input class="form-control" asp-for="@Model.Telefono" value="@Model.Telefono" /> <br/>
    <span class="form-control" asp-validation-for="@Model.Telefono" ></span>

    <label class="form-label" asp-for="@Model.IDCadeteria"></label>
    <select  asp-for="@Model.IDCadeteria" >
        @foreach (var item in CadeteriaRepo.TodosCadeteria())
        {
            if (item.ID == Model.IDCadeteria)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>
    <button  class="btn btn-primary">Editar</button>
</form>

</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> } 