
@model List<CadeteriaWeb.Models.CadetesModels.Cadetes>;/*LE DECIMOS QUE RECIBIMOS UNA LISTA DE CADETES*/


<table>
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Direccion </th>
            <th> Telefono </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
                
            <tr>
                <td> @item.Nombre</td>
                <td> @item.Direccion </td>
                <td> @item.Telefono </td>
                <td><a  asp-controller="Cadetes" asp-action="EditarCadetes" asp-route-id="@item.ID">Editar</a></td>
                <td><a  asp-controller="Cadetes" asp-action="EliminarCadetes" asp-route-id="@item.ID">Eliminar</a></td>
            </tr>    
            }

            
    </tbody>
    <a  asp-controller="Cadetes" asp-action="MostrarCadetes" style="display: flex;
                                                                   align-items: center;
                                                                   justify-content: center;" >Refrescar </a>
    
</table>

@section Scripts { 
                  <link href="~/css/Tablas.css" rel="stylesheet" asp-file-version="true" />}