@model CadeteriaWeb.ViewModels.PedidosViewModels
<div>
    <h3>Editor de Pedidos</h3>

   


<form  method="post">
    <label class="form-label" asp-for="@Model.Obs"></label>
    <input class="form-control" asp-for="@Model.Obs" value="@Model.Obs"/> <br />

    <label class="form-label" asp-for="@Model.Cliente"></label>
    <select  asp-for="@Model.Cliente" >
        @foreach (var item in (List<CadeteriaWeb.Models.ClientesModels.Clientes>)ViewData["clientes"])
        {
            if (item.ID == Model.Cliente)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>

    <label class="form-label" asp-for="@Model.Cadete"></label>
    <select  asp-for="@Model.Cadete" >
        @foreach (var item in (List<CadeteriaWeb.Models.CadetesModels.Cadetes>)ViewData["cadetes"])
        {
            if (item.ID == Model.Cadete)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>
    <label class="form-label" asp-for="@Model.Estado"></label>
    <select  asp-for="@Model.Estado" >
        @{
            if (Model.Estado)
            {
                <option value="true" selected>En camino</option>
                <option value="false">Entregado</option>
                  
            }else
            {
                <option value="false" selected>Entregado</option>
                <option value="true">En camino</option>  
            }
        }

    </select>
    
    <button  class="btn btn-primary">Enviar</button>
</form>

</div>

<style>
    body{
        font-family:Arial, Helvetica, sans-serif;
    }
    h3, h5{
        text-align: center;
    }
    header > h2{
        color: white;
        margin:0;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        background-color: black;
    }
    label{
        color: white;
    }
    form label, form input,form select, form button{
        width: 90;
        max-width:25rem ;
        height: 2rem;
        margin-block: .2rem;
    }
</style>

    
    
    
@section Scripts { <partial name="_ValidationScriptsPartial" /> } 