@model CadeteriaWeb.ViewModels.PedidosViewModels
<div>
    <h3>Editor de Pedidos</h3>

   
<form  method="post">
    <label class="form-label" asp-for="@Model.Obs"></label>
    <input class="form-control" asp-for="@Model.Obs" value="@Model.Obs"/>
    <span asp-validation-for="@Model.Obs" class="text-danger"></span>

    <label class="form-label" asp-for="@Model.Cliente"></label>
    <select  asp-for="@Model.Cliente" >
        @foreach (var item in (List<CadeteriaWeb.Models.ClientesModels.Clientes>)ViewData["clientes"])
        {
            if (item.ID == Model.Cliente)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>

    <label class="form-label" asp-for="@Model.Cadete"></label>
    <select  asp-for="@Model.Cadete" >
        @foreach (var item in (List<CadeteriaWeb.Models.CadetesModels.Cadetes>)ViewData["cadetes"])
        {
            if (item.ID == Model.Cadete)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>
    <label class="form-label" asp-for="@Model.Estado"></label>
    <select  asp-for="@Model.Estado" >
        @{
            if (Model.Estado)
            {
                <option value="true" selected>En camino</option>
                <option value="false">Entregado</option>
                  
            }else
            {
                <option value="false" selected>Entregado</option>
                <option value="true">En camino</option>  
            }
        }

    </select>
    
    <button  class="btn btn-primary"  asp-route-id="@Model.Nro">Enviar</button>
</form>

</div>



    
    
    
@section Scripts { <partial name="_ValidationScriptsPartial" />
                   <link href="~/css/EditorPedidos.css" rel="stylesheet" asp-file-version="true" /> } 