 @model CadeteriaWeb.ViewModels.PedidosViewModels
 @{
    CadeteriaWeb.Models.CadetesModels.CadetesRepositorio CadeRepo = new CadeteriaWeb.Models.CadetesModels.CadetesRepositorio();
    CadeteriaWeb.Models.ClientesModels.ClientesRepositorio ClienRepo = new CadeteriaWeb.Models.ClientesModels.ClientesRepositorio();
 }
<div>
    <h3>Subida de Pedidos</h3>

    <h5>Ingrese los datos del Pedido</h5>
   


<form  method="post">
    <label class="form-label" asp-for="@Model.Obs"></label>
    <input class="form-control" asp-for="@Model.Obs" /> <br />
    <span class="form-control" asp-validation-for="@Model.Obs" ></span>

    <label class="form-label" asp-for="@Model.Cliente"></label>
    <select  asp-for="@Model.Cliente" >
        @foreach (var item in ClienRepo.TodosCliente())
        {
            if (item.ID == Model.Cliente)
            {
              <option value="@item.ID" selected>@item.Nombre</option>   
            }else
            {
                <option value="@item.ID">@item.Nombre</option>
            }
            
        }
    </select><br/>

    <label class="form-label" asp-for="@Model.Cadete"></label>
    <select  asp-for="@Model.Cadete" >
        @foreach (var item in CadeRepo.TodosCadetes())
        {
            <option value="@item.ID">@item.Nombre</option>
            
        }
    </select><br/>
    <span class="form-control" asp-validation-for="@Model.Cadete" ></span>
    <button  class="btn btn-primary">Enviar</button>
</form>

</div>
@section Scripts { <partial name="_ValidationScriptsPartial" /> } 