 @model CadeteriaWeb.ViewModels.PedidosViewModels
 
<div>
    <h3>Subida de Pedidos</h3>

    <h5>Ingrese los datos del Pedido</h5>
   


<form  method="post">
    <label class="form-label" asp-for="@Model.Obs" ></label>
    <input class="form-control" asp-for="@Model.Obs" placeholder="Observaciones acerca del pedido" />
    <span asp-validation-for="@Model.Obs" class="text-danger"></span>
    
    <label class="form-label" asp-for="@Model.Cliente"></label>
    <select  asp-for="@Model.Cliente" >
        @foreach (var item in (List<CadeteriaWeb.Models.ClientesModels.Clientes>)ViewData["clientes"])
        {
            
            
                <option value="@item.ID">@item.Nombre</option>
            
            
        }
    </select><br/>

    <label class="form-label" asp-for="@Model.Cadete"></label>

    <!--LE PONEMOS EN UN SELECT LOS CADETES A LOS CUALES PUEDE ASIGNAR EL PEDIDO -->
    <select  asp-for="@Model.Cadete" >
        @foreach (var item in (List<CadeteriaWeb.Models.CadetesModels.Cadetes>)ViewData["cadetes"])
        {
            <option value="@item.ID">@item.Nombre</option>
            
        }
    </select><br/>
    
    <button  class="btn btn-primary">Enviar</button>
</form>

</div>




@section Scripts { <partial name="_ValidationScriptsPartial" />
                   <link href="~/css/EditorPedidos.css" rel="stylesheet" asp-file-version="true" /> } 

