
@model List<CadeteriaWeb.Models.ClientesModels.Clientes> //NOS LLEGA UNA LISTA DE Clientes

</style>
<body>
<table >
    <thead>
        <tr>
            <th> Nombre </th>
            <th> Direccion </th>
            <th> Telefono </th>
            @if (Context.Session.GetInt32("rol") == 1){
              <th></th>
              <th></th>
            }
            
        </tr>
    </thead>
    <tbody>
        
            @foreach (var item in Model)
            {
            <tr>
                <td> @item.Nombre</td>
                <td> @item.Direccion</td>
                <td>@item.Telefono</td>
                
                 @if (Context.Session.GetInt32("rol") == 1)
                   {
                     <td><a  asp-controller="Clientes" asp-action="EditarClientes" asp-route-id="@item.ID">Editar</a></td>
                     <td><a  asp-controller="Clientes" asp-action="EliminarClientes" asp-route-id="@item.ID">Eliminar</a></td>
                   }
                        
                
                
            </tr>    
            }

            
    </tbody>
   
    
</table>
 <a  asp-controller="Pedidos" asp-action="MostrarPedidos" style="display: flex;
                                                                   align-items: center;
                                                                   justify-content: center;" >Refrescar </a>
</body>
<style>
  table {
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
	vertical-align: middle;
  
}

th, td {
  border: 1px solid black;
  padding: 8px;

}
thead th {
  width: 25%;
}
thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 2%;
}
tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}
tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}
tbody tr:nth-child(even) th {
  background-color: #25c;
}
main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}