@model CadeteriaWeb.ViewModels.ClientesViewModels
 
<div>
    <h3>Subida de Clientes</h3>

    <h5>Ingrese los datos del Cliente</h5>
   


<form  method="post">
    <label class="form-label" asp-for="@Model.Nombre"></label>
    <input class="form-control" asp-for="@Model.Nombre" placeholder="Ingrese el nombre del cliente"/>
    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    

    <label class="form-label" asp-for="@Model.Direccion"></label>
    <input class="form-control" asp-for="@Model.Direccion" placeholder="Ingrese la direccion del cliente"/>
    <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
    

    <label class="form-label" asp-for="@Model.Telefono"></label>
    <input class="form-control" asp-for="@Model.Telefono" placeholder="Ingrese la direccion del cliente"/>
    <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
    

    
    <button  class="btn btn-primary">Enviar</button>
</form>

</div>

@section Scripts { <partial name="_ValidationScriptsPartial" />
                   <link href="~/css/EditarClientes.css" rel="stylesheet" asp-file-version="true"> } 